@import url(theme.css);
/* ==========================================================================
1. Nathan's changes
========================================================================== */
.logo-white, .logo-dark {
  height: 52px; }

.main-navigation .collapse-navation, .shrink-nav .collapse-navation {
  margin-top: 12px; }
.main-navigation .collapse-navation, .shrink-nav .collapse-navation {
  margin-top: 0; }

.map-style-1 .map-overlay:hover {
  opacity: 0.9; }
.map-style-1 .map-button {
  background-color: rgba(9, 9, 9, 0.7);
  color: #fff; }

.team-style10 .team-details:hover .offers-tour-price {
  background-color: #48a5f2;
  color: #000; }

.footer-style1 .color-overlay {
  background-color: #fff; }
  .footer-style1 .color-overlay .footer-social li i, .footer-style1 .color-overlay .footer-social p, .footer-style1 .color-overlay .copy li i, .footer-style1 .color-overlay .copy p {
    color: #373737; }
  .footer-style1 .color-overlay .footer-social a, .footer-style1 .color-overlay .copy a {
    color: #48a5f2; }

.carousel-inner > .item > img {
  margin: 0 auto; }

.blogpost_share {
  display: none; }

.home .pagination, .single-post #blog-details {
  padding-bottom: 0; }

.testimonial-title {
  margin-top: 42px; }
